// Styles imports.
@import '../../assets/styles/colors';

// Style properties.
.login-container {

  // Display properties.
  display: flex;
  align-items: center;
  justify-content: space-between;

  // Size properties.
  height: 100vh;
  margin: auto;
  max-width: 1280px;
  width: 100%;

  .login-credentials {

    // Display properties.
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    // Size properties.
    height: 100%;
    max-height: 280px;
    max-width: 300px;
    width: 100%;

    background-color: $secondary-color;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    margin: auto;
    padding: 25px 10px;

    form {

      // Display properties.
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;

      // Size properties.
      height: 250px;
      padding-bottom: 30px;

      button {
        margin-top: 10px;
      }

    }

  }

  .service-info {

    // Display properties.
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    // Size properties.
    height: 80vh;
    margin: auto;
    max-width: 480px;
    width: 100%;

    background-color: $secondary-color;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    padding: 20px;

    ul {
      list-style-type: none;

      li {

        // Display properties.
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;

        font-size: 18px;

        .react-icons {
          height: 24px;
          padding: 10px 5px;
          width: auto;
        }
      }
    }

    .service-info-title {

      // Display properties.
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;

      .react-icons {
        color: $primary-color;
        height: 50px;
        padding: 0px 10px;
        width: auto;
      }
    }
  }

}
