// Styles imports.
@import '../../assets/styles/colors';

// Style properties.
.loading-container {

  // Display properties.
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Size properties.
  height: 100vh;
  margin: auto;
  max-width: 1280px;
  width: 100%;

}
