// Styles imports.
@import 'assets/styles/colors';
@import 'react-confirm-alert/src/react-confirm-alert.css';

// Font properties.
@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans SemiBold';
  font-style: bold;
  font-weight: 600;
  src: url(assets/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: bolder;
  font-weight: 700;
  src: url(assets/fonts/OpenSans-Bold.ttf);
}

// Style properties.
#root {
  width: calc(100vw - 30px);	// Fix for alert windows shifting content.
}

body {
  color: #222;
  font: 400 16px 'Open Sans', sans-serif;
}

button {
  border-radius: 4px;
  box-shadow: 2px 2px 5px #444;
  font-weight: 550;
  height: 30px;

  cursor: pointer;
  &:hover{
    filter: opacity(75%);
  }
}

input {
  height: 24px;
  font-size: 14px;

  &:focus{
    outline-color: $selected-color;
  }
}

// Class definitions.
.danger-button {
  background-color: $danger-color;
  border-color: $danger-color;
  color: #FFF;
}

.flex-grow {
  flex-grow: 1;
}

.form-error {
  color: #ED0800;
  font-size: 12px;
}

.form-input-with-item {
  margin: 10px;

  input {
    margin-left: 10px;
  }

  .react-icons {
    height: 14px;
    width: auto;
  }
}

.form-input-with-title {

  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin: 0px 0px 10px;
  max-height: 85px;
  max-width: 240px;

  .input-title {
    font: 600 16px 'Open Sans SemiBold', sans-serif;
    margin: 10px 0px 8px;
  }

  .form-input {
    width: 240px;
  }

  .form-error {
    margin: 4px 0px 10px;
  }

}

.info-button {
  background-color: $info-color;
  border-color: $info-color;
  color: #FFF;
}

.react-confirm-alert-button-group {
  justify-content: center;

  button {
    margin: 30px 20px 0;
  }

  .confirm-button {
    @extend .danger-button;
  }

}

.success-button {
  background-color: $success-color;
  border-color: $success-color;
  color: #FFF;
}
