$primary-color: #E60000;
$secondary-color: #F2F2F2;
$danger-color: #CA0B00;
$info-color: #062080;
$react-paginate-primary-color: #EEE;
$react-paginate-secondary-color: #0076CE;
$react-paginate-disabled-color: #777;
$selected-color: #0091E6;
$success-color: #007420;
